<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ config.DASHBOARD_NAME }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <style>
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">{{ config.DASHBOARD_NAME }}</a>
                    <ul class="nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        {% if 'ganglia' in config.ENABLED_MODULES %}
                        <li><a href="{{ url_for('ganglia') }}">Ganglia</a></li>
                        {% endif %}
                        {% if 'graphite' in config.ENABLED_MODULES %}
                        <li><a href="{{ url_for('graphite') }}">Graphite</a></li>
                        {% endif %}
                        {% if 'nagios' in config.ENABLED_MODULES %}
                        <li><a href="{{ url_for('nagios') }}">Nagios</a></li>
                        {% endif %}
                        {% if 'pingdom' in config.ENABLED_MODULES %}
                        <li><a href="{{ url_for('pingdom') }}">Pingdom</a></li>
                        {% endif %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">External<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ config.OPS_BUG_URL }}">File an operations bug</a></li>
                            <li><a href="{{ config.OPS_DOCS_URL }}">Operations documentation</a></li>
                            <li><a href="{{ config.LOAD_TEST_URL }}">Load tests</a></li>
                            {% for external_url in config.EXTERNAL_URLS %}
                            <li><a href="{{ external_url.href }}">{{ external_url.text }}</a></li>
                            {% endfor %}
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
