{% extends "base.html" %}
{% block content %}
<h1>AMO Graphs</h1>
<form class="form-inline" method="get">
    <label>Period:</label> <select name="range">
        {% for r in ranges %}
        <option {% if r == cur_range %} selected="selected"{% endif %}
            value="{{ r }}" >{{ r }}</option>
        {% endfor %}
    </select>
    <label>Size:</label> <select name="size">
        {% for s in sizes %}
        <option {% if s == cur_size %} selected="selected"{% endif %}
            value="{{ s }}" >{{ s }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Switch">
</form>
    {% for n, gs in graphs.iteritems() %}
        <h2>{{ n }}</h2>
        {% for g in gs %}
            <img src="{{ g }}">
        {% endfor %}
    {% endfor %}
{% endblock %}
