{% extends "base.html" %}
{% block content %}
  <h2>Graphite for {{ site_name }}: {{ current_graph.name }}</h2>
  <p>
    <b>Servers: </b>
    {% for site in sites|sort %}
    <a href="?site={{ site }}&amp;graph={{ defaults.graph }}">{{ site }}</a> {% if not loop.last %}|{% endif %}
    {% endfor %}
  </p>
  <ul class="graphs-selector">
  {% for group in graphs.values()|groupby('prefix') %}
      <li>{{ group.grouper }}{% if group.grouper %}: {% endif %}<ul>
      {% for graph in group.list|sort %}
          <li><a href="?site={{ defaults.site }}&amp;graph={{ graph.slug }}">{{ graph.suffix }}</a> {% if not loop.last %}|{% endif %}</li>
      {% endfor %}</ul></li>
  {% endfor %}
  </ul>
  <hr>
  <div class="graphs-container">
    <img class="fifteen" src="{{ base }}&amp;{{ current_graph.url[0] }}{{ current_graph.updates }}&amp;{{ fifteen }}&amp;{{ thresholds }}">
    <img class="hour" src="{{ base }}&amp;{{ current_graph.url[0] }}{{ current_graph.updates }}&amp;{{ hour }}&amp;{{ thresholds }}">
    <img class="day" src="{{ base }}&amp;{{ current_graph.url[0] }}{{ current_graph.updates }}&amp;{{ day }}&amp;{{ thresholds }}">
    <img class="week" src="{{ base }}&amp;{{ current_graph.url[0] }}{{ current_graph.updates }}&amp;{{ week }}&amp;{{ thresholds }}">
    <img class="month" src="{{ base }}&amp;{{ current_graph.url[0] }}{{ current_graph.updates }}&amp;{{ month }}&amp;{{ thresholds }}">
    <img class="3month" src="{{ base }}&amp;{{ current_graph.url[0] }}{{ current_graph.updates }}&amp;{{ three_month }}&amp;{{ thresholds }}">
  </div>
{% endblock %}
