{% extends 'base.html' %}
{% block content %}
    <dl id="menu">
        <dt>External Resources</td>
        <dd>
            <ul class="unstyled">
                <li><a href="https://bit.ly/amo_ops_bug">File an operations bug</a></li>
                <li><a href="https://mana.mozilla.org/wiki/display/websites/addons.mozilla.org">Operations documentation</a></li>
            </ul>
        </dd>
        <dt>Graphs/Monitors</td>
        <dd>
            <ul class="unstyled">
                <li><a href="{{ url_for('ganglia') }}">Ganglia</a></li>
                <li><a href="{{ url_for('graphite') }}">Graphite</a></li>
                <li><a href="{{ url_for('nagios') }}">Nagios</a></li>
            </ul>
        </dd>
    </dl>
{% endblock %}
